<!DOCTYPE HTML>
<html ng-app="testbed">
    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Ангулярная директива simple-autocompl</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="dist/simple-autocompl.css" rel="stylesheet">
    </head>
    <body>
        <p>Директива строит разметку согласно канонам Бутстрапа, однако можно использовать и без него, тогда её нужно просто соответственно стилизовать.</p>
        <div ng-controller="ExampleController as exampleCtrl">
            <form name="frm">
                <div class="checkbox">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="disabled"> Задизаблить поля
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="readonly"> Заридонлить поля
                    </label>
                </div>
                <div class="form-group" ng-class="{'has-error':frm.plain.$dirty&&frm.plain.$invalid,'has-success':frm.plain.$dirty&&frm.plain.$valid}">
                    <label for="plain">Обычный текстовый инпут (для сравнения)</label>
                    <input type="text" class="form-control" id="plain" name="plain" required ng-disabled="disabled" ng-readonly="readonly" ng-model="plain">
                </div>
                <div class="form-group" ng-class="{'has-error':frm.country.$invalid,'has-success':frm.country.$valid}">
                    <label>Страна</label>
                    <simple-autocompl
                        select-mode
                        placeholder="{{exampleCtrl.placeholders.country}}"
                        list="exampleCtrl.countries"
                        enable-clear="true"
                        search-delay="500"
                        name="country"
                        required
                        ng-disabled="disabled"
                        ng-readonly="readonly"
                        ng-model="exampleCtrl.country">
                    </simple-autocompl>
                    <span class="help-block">Выбрано: {{exampleCtrl.country ? exampleCtrl.country : "ничего"}}</span>
                </div>
                <div class="form-group">
                    <label>Город</label>
                    <div
                        simple-autocompl
                        placeholder="{{exampleCtrl.country?'Выберите город':'Сначала выберите страну'}}..."
                        list="exampleCtrl.retrievePlaces"
                        render-sugg-fn="exampleCtrl.renderPlace"
                        no-suggestions-text="{{exampleCtrl.country?exampleCtrl.country+': не найдено':'Не выбрана страна'}}"
                        enable-clear="true"
                        expando="true"
                        ng-disabled="disabled"
                        ng-readonly="readonly"
                        ng-model="exampleCtrl.place">
                    </div>
                    <span class="help-block">Выбрано: {{exampleCtrl.place ? exampleCtrl.place : "ничего"}}</span>
                </div>
                <div class="form-group">
                    <label>Предлагаю ввести "в с"</label>
                    <div
                        simple-autocompl
                        select-mode
                        list="exampleCtrl.objects"
                        render-sugg-fn="exampleCtrl.renderObject"
                        min-to-search="2"
                        ng-disabled="disabled"
                        ng-readonly="readonly"
                        ng-model="exampleCtrl.object">
                    </div>
                    <span class="help-block">Выбрано:</span>
                    <pre>{{exampleCtrl.object ? exampleCtrl.getObjectJson(exampleCtrl.object) : "ничего"}}</pre>
                </div>
                <div class="form-group">
                    <div
                        simple-autocompl
                        list="exampleCtrl.names"
                        no-suggestions-text="нет такой буквы в этом слове"
                        expando="true"
                        ng-disabled="disabled"
                        ng-readonly="readonly"
                        ng-model="exampleCtrl.name">
                    </div>
                    <br><br><br><br><br><br><br><br><br>
                    <span class="help-block">Введено: {{exampleCtrl.name ? exampleCtrl.name : "ничего"}}</span>
                </div>
            </form>
            <hr>
            <form class="form-inline">
                <h2>Инлайновая форма</h2>
                <div class="form-group">
                    <label for="plain">Обычный текстовый инпут (для сравнения)</label>
                    <input type="email" class="form-control" id="plain" ng-disabled="disabled" ng-readonly="readonly">
                </div>
                <div class="form-group">
                    <label>Страна</label>
                    <div
                        simple-autocompl
                        select-mode
                        placeholder="{{exampleCtrl.placeholders.country}}"
                        list="exampleCtrl.countries"
                        enable-clear="true"
                        ng-model="exampleCtrl.country1">
                    </div>
                </div>
            </form>
        </div>

        <script src="node_modules/angular/angular.js"></script>
        <script src="dist/simple-autocompl.js"></script>
        <script src="testbed.js"></script>
    </body>
</html>
